{{ define "main" }}


<!-- hero area -->
<section class="hero-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-self-end">
        <h1 class="mb-0">SIAH</h1>
        <!-- <h2 class="mb-100 title-border-lg">to <i>{{.Site.Params.author}} Blog</i></h2> -->
        <h2 class="mb-50">Sociedad Ibérica de Arquería Histórica</h2>
        <p class="mb-80 mr-5">{{.Site.Params.bio | markdownify }}</p>
        <!-- <span class="font-secondary text-dark mr-3 mr-sm-5">Follow me :</span>
        <ul class="list-inline d-inline-block mb-5">
          {{ range .Site.Params.social }}
          <li class="list-inline-item mx-3"><a href="{{.URL}}" class="text-dark"><i class="{{.icon}}"></i></a></li>
          {{ end }}
        </ul> -->
      </div>
      <div class="col-lg-6 text-right">
        <img class="img-fluid" src="{{.Site.Params.author_image | absURL}}" alt="banner-image">
      </div>
    </div>
  </div>
</section>
<!-- /hero area -->





{{partial "instafeed.html" . }}

{{ end }}
