<footer class="bg-secondary">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <a href="{{.Site.BaseURL}}"><img src="{{.Site.Params.logo | absURL }}" alt="{{.Site.Title}}" class="img-fluid"></a>
        </div>
        <!-- <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <h6>Address</h6>
          <ul class="list-unstyled">
            <li class="font-secondary text-dark">{{.Site.Params.address | markdownify }}</li>
          </ul>
        </div> -->
        <!-- <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <h6>Contact Info</h6>
          <ul class="list-unstyled">
            <li class="font-secondary text-dark">Tel : {{ .Site.Params.mobile | markdownify }}</li>
            <li class="font-secondary text-dark">Email : {{ .Site.Params.email | markdownify }}</li>
          </ul>
        </div> -->
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <h6>Mapa del sitio</h6>
          <ul class="list-unstyled">
            <li class="font-secondary text-dark">
              <a class="text-dark" href="/">Inicio</a>
            </li>
            <li class="font-secondary text-dark">
              <a class="text-dark" href="/acerca">Acerca de SIAH</a>
            </li>
            <li class="font-secondary text-dark">
              <a class="text-dark" href="https://codex.siah.ac/tag/novedades">Novedades</a>
            </li>
            <li class="font-secondary text-dark">
              <a class="text-dark" href="https://creativecommons.org/licenses/by/4.0/" target="_blank">Licencia de contenidos</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <h6>Asociación Cultural</h6>
          <p>Ámbito estatal inscrita con número nacional 620636</p>
          <p>Contacto: secretaria@siah.ac</p>
          <p><a href="/privacidad">Política de privacidad</a></p>
          
        </div>
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <h6>Síguenos</h6>
          <ul class="list-inline d-inline-block">
            {{ range .Site.Params.social }}
            <li class="list-inline-item"><a href="{{ .URL }}" class="text-dark" target="_blank"><i class="{{ .icon }}"></i></a></li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center pb-3">
    <p class="mb-0">{{ .Site.Params.copyright | markdownify }}</p>
  </div>
</footer>


{{ if .Site.Params.search }}
<script>
  var indexURL = {{ "index.json" | absURL }}
</script>
{{ end }}

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

{{ "<!-- google analitycs -->" | safeHTML }}
{{ with .Site.Params.google_analitycs_id }}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ . }}', 'auto');
  ga('send', 'pageview');
</script>
{{ end }}