<head>
  <meta charset="utf-8">
  <title>{{ .Site.Title }}</title>

  {{ "<!-- mobile responsive meta -->" | safeHTML }}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
  {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
  {{ hugo.Generator }}

  {{ "<!-- plugins -->" | safeHTML }}
  {{ range .Site.Params.plugins.css }}
  <link rel="stylesheet" href="{{ .link | absURL }} ">
  {{ end }}

  {{ "<!-- Main Stylesheet -->" | safeHTML }}
  {{ $styles := resources.Get "css/style.css" | minify }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen">

  {{ "<!--Favicon-->" | safeHTML }}
  <link rel="shortcut icon" href="{{ `images/favicon.png` | absURL }} " type="image/x-icon">
  <link rel="icon" href="{{ `images/favicon.png` | absURL }} " type="image/x-icon">

  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

  <!--TWITTER-->
  <meta property="og:title" content="SIAH Sociedad Ibérica de Arquería Histórica" />
  <meta property="og:description" content="Asociación cultural para el estudio y difusión del tiro con arco en la historia" />
  <meta property="og:image" content="https://siah.ac/images/logo.svg" />
  <meta name="twitter:title" content="SIAH Sociedad Ibérica de Arquería Histórica">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:description" content="Asociación cultural para el estudio y difusión del tiro con arco en la historia">
  <meta name="twitter:image" content="https://siah.ac/images/logo.svg">
  <meta name="twitter:site" content="https://siah.ac">
  <meta name="twitter:creator" content="@SIAH_oficial">

  <!--COOKIES-->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

</head>