<div class="col-lg-4">
  <div class="widget search-box">
    <form action="{{ .Site.BaseURL }}/search">
      <i class="ti-search"></i>
      <input class="form-control border-0 pl-5" type="search" placeholder="Buscar" id="search-query" name="s">
    </form>
  </div>
  <div class="widget">
    <h6 class="mb-4">Últimas novedades</h6>
    {{ range first 3 ( where .Site.Pages "Type" "post") }}
    <div class="media mb-4">
      <div class="post-thumb-sm mr-3">
        <a href="{{ .Permalink }}"><img class="mr-3 post-thumb-sm" src="{{ .Params.Image | absURL }}"></a>
      </div>
      <div class="media-body">
        <ul class="list-inline d-flex justify-content-between mb-2">
          <!-- <li class="list-inline-item">Publicado por {{.Site.Params.author}}</li> -->
          <li class="list-inline-item">{{ .PublishDate.Format "Jan 02, 2006" }}</li>
        </ul>
        <h6><a class="text-dark" href="{{ .Permalink }}">{{.Title}}</a></h6>
      </div>
    </div>
    {{ end }}
  </div>
  {{- if not (eq (len .Site.Taxonomies.tags) 0) }}
  <div class="widget">
   
    <h6 class="mb-4">Etiquetas</h6>
    {{- if isset .Site.Taxonomies "tags" }}
    
    <ul class="list-inline tag-list">
      {{- range $name, $items := .Site.Taxonomies.tags }}
      <li class="list-inline-item m-1"><a href="{{ "tags/" | relLangURL }}{{ $name | urlize | lower }}">{{ $name | humanize }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
    
  </div>
  {{- end }}
  <div class="widget">
    <h6 class="mb-4">Categorías</h6>
    {{- if isset .Site.Taxonomies "categories" }}
    {{- if not (eq (len .Site.Taxonomies.categories) 0) }}
    <ul class="list-inline tag-list">
      {{- range $name, $items := .Site.Taxonomies.categories }}
      <li class="list-inline-item m-1"><a href="{{ "categories/" | relLangURL }}{{ $name | urlize | lower }}">{{ $name | title | humanize }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
    {{- end }}
  </div>
</div>